In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
#Carga desde un archivo .xlsx sin indice
data = pd.read_excel('Inmuebles2.xlsx')

In [ ]:
#Convertir DataFrame a CSV
data.to_csv("inmuebles2.csv")
data

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data.isnull().sum()
Cuenta_Nulos

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias
data2= data1.drop(['0' ,'Referencia'], axis=1)
data2

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data1.isnull().sum()
Cuenta_Nulos

In [30]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Sustituir valores nulos con promedio o media
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].mean(),1))
data3

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data3.isnull().sum()
Cuenta_Nulos

In [ ]:
#Sustituir valores nulos con mediana
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].median(),1))
data3

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data3.isnull().sum()
Cuenta_Nulos

In [ ]:
#Eliminar filas con datos faltantes de una columna en específico
data4= data3.dropna(subset = ['Fecha Alta'], axis = 0)
#Aplicar los cambio al Data Frame original
data3.dropna(subset = ['Fecha Alta'], axis = 0, inplace = True)
data4

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data4.isnull().sum()
Cuenta_Nulos

In [70]:
data4['Provincia'] = data4['Provincia'].fillna("Girona")

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data4.isnull().sum()
Cuenta_Nulos

In [ ]:
data4['Fecha Venta'] = data4['Fecha Venta'].fillna(method="bfill")
data4

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data4.isnull().sum()
Cuenta_Nulos

In [ ]:
data4['Vendedor'] = data4['Vendedor'].fillna(method="ffill")
data4

In [ ]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data4.isnull().sum()
Cuenta_Nulos

In [89]:
#Eliminar filas con datos faltantes de una columna en específico
data5= data4.dropna(subset = ['Tipo'], axis = 0)
#Aplicar los cambio al Data Frame original
data4.dropna(subset = ['Tipo'], axis = 0, inplace = True)
data5

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,1201918.3,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,1201918.3,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,2007-04-30 00:00:00,María
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,2007-04-30 00:00:00,María
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,2007-04-30 00:00:00,María
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,2007-04-30 00:00:00,María
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,170.0,2140712.0,2007-04-30 00:00:00,María

In [91]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= data5.isnull().sum()
Cuenta_Nulos

Fecha Alta      0
Tipo            0
Operación       1
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64